/*头部*/
.head-box{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    padding: .5rem 1rem .5rem 1rem;
    background-color: #fff;
    overflow: hidden;
}

.head-logo{
    float: left;
    width: 3.4rem;
    height: 1.7rem;
}

.head-itemBox{
    float: right;
    display: flex;
    margin-top: 1.2rem;
}

.head-item{
    width: 2rem;
    height: .5rem;
}
.head-dmart{
    background: url("../images/dmart-bg.png") right center no-repeat;
    background-size: auto 100%;
}
.head-dmart:active{
    background-image: url("../images/dmart-bgActive.png");
}
.head-dmart.active{
    background-image: url("../images/dmart-bgActive.png");
}
.head-home{
    background: url("../images/home-bg.png") left center no-repeat;
    background-size: auto 100%;
}
.head-home:active{
    background-image: url("../images/home-bgActive.png");
}
.head-home.active{
    background-image: url("../images/home-bgActive.png");
}
.foot-box{
    height: 2rem;
    background: url("../images/company-name.png") center center no-repeat;
    background-size: auto .5rem;
}

.head-black{
    background-color: #242833;
}
.head-black .head-item:active{
    color: #fff;
}
.head-black .head-item.active{
    color: #fff;
}

/*首页*/
.swiper-index img {
    width: 100%;
    height: 10.55rem;
}
.swiper-pagination-bullet-active{
    background: none;
    border: 2px solid #fff;
}
.index-scrollBox{
    margin-top: .2rem;
    overflow-x: scroll;
    white-space: nowrap;
    font-size: 0;
}
.index-scroll{
    display: inline-block;
    width: 8rem;
    height: 4.5rem;
    background-color: #333;
    opacity: .8;
    border-radius: .2rem;
    margin-right: .4rem;
}
.index-scrollMore{
    width: 90%;
    margin: 0 auto;
    padding: .4rem 0;
    border-bottom: 1px solid #383A3E;
    overflow: hidden;
}
.more-link{
    float: right;
    width: 2.6rem;
    height: .5rem;
    background: url("../images/morebg.png") center center no-repeat;
    background-size: 100% auto;
}

.index-sortBox{
    width: 90%;
    margin: .3rem auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.index-sort{
    width: 49%;
    height: 5rem;
    line-height: 5rem;
    margin-bottom: .3rem;
    background-color: #474A54;
    border-radius: .2rem;
    text-align: center;
    font-size: 1rem;
    color: #717277;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 1.2rem;
}
.index-sort:active{
    background-color: #CB3447;
}
.index-sort.brand-bg:active{
    background-image: url("../images/brand@3x-active.png");
}
.index-sort.space-bg:active{
    background-image: url("../images/space@3x-active.png");
}
.index-sort.design-bg:active{
    background-image: url("../images/design@3x-active.png");
}
.index-sort.ip-bg:active{
    background-image: url("../images/ip@3x-active.png");
}

/*animate*/
.ani-up {
    visibility: hidden;
    opacity: 0;
}

.fadeInUp {
    visibility: visible;
    animation: fadeInUp ease-out .6s forwards;
    -webkit-animation: fadeInUp ease-out .6s forwards;
    -moz-animation: fadeInUp ease-out .6s forwards;
}

.index-sort:nth-child(2) {
    animation-delay: .1s;
    -webkit-animation-delay: .1s;
}

.index-sort:nth-child(3) {
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
}

.index-sort:nth-child(4) {
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
}

/*dmart*/
.in-banner{
    width: 100%;
}
.dmart-ch{
    margin: 1.2rem auto;
    height: 2.3rem;
    background: url("../images/Group@3x.png") left center no-repeat;
    background-size: auto 100%;
}
.dmart-short{
    margin-top: 1rem;
    line-height: 1.2rem;
    font-size: .8rem;
    color: #9b9b9b;
}
.dmart-foot{
    margin-top: 3rem;
    line-height: 1rem;
    font-size: .6rem;
    color: #9B9B9B;
    font-weight: bold;
    margin-bottom: 5rem;
}

/*brandserve*/
.dmart-en{
    margin-bottom: .5rem;
    height: 2rem;
    background: url("../images/dmart-tip.png") center bottom no-repeat;
    background-size: auto 1.3rem;
}
.dmart-zh{
    margin-bottom: 1.6rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 1rem;
    color: #9b9b9b;
    font-weight: bold;
    text-align: center;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.brand-bg{
    background-image: url("../images/brand@3x.png");
}
.design-bg{
    background-image: url("../images/design@3x.png");
}
.space-bg{
    background-image: url("../images/space@3x.png");
}
.ip-bg{
    background-image: url("../images/ip@3x.png");
}
.brand-sortBox{
    display: flex;
    justify-content: space-between;
}
.brand-sort{
    font-size: .6rem;
    color: #9b9b9b;
}
.brand-sort.active{
    color: #E4344A;
}
.brand-sort:active{
    color: #E4344A;
}

.in-box{
    margin: .8rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.in-item{
    width: 49%;
    height: 5rem;
    margin-bottom: .3rem;
    background-color: #fff;
    border-radius: .2rem;
}

.in-item:nth-child(2) {
    animation-delay: .1s;
    -webkit-animation-delay: .1s;
}

.in-item:nth-child(3) {
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
}

.in-item:nth-child(4) {
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
}

.in-item:nth-child(5) {
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
}

.in-item:nth-child(6) {
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
}

.in-item:nth-child(7) {
    animation-delay: .6s;
    -webkit-animation-delay: .6s;
}

.in-item:nth-child(8) {
    animation-delay: .7s;
    -webkit-animation-delay: .7s;
}

.in-item:nth-child(9) {
    animation-delay: .8s;
    -webkit-animation-delay: .8s;
}

.in-item:nth-child(10) {
    animation-delay: .9s;
    -webkit-animation-delay: .9s;
}

/*view*/
.close-box{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}
.close-icon{
    width: 1.3rem;
    height: 1.3rem;
    background: url("../images/close.png");
    background-size: 100% 100%;
}
.view-top{
    display: flex;
    margin-top: .8rem;
}
.view-title{
    width: 80%;
    line-height: 1.2rem;
    display: flex;
    align-items: center;
    font-size: .8rem;
    font-weight: bold;
}
.view-time{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: .4rem;
}
.view-short{
    margin: 1rem auto;
    line-height: 1.2rem;
    font-size: .8rem;
}
.view-horizontal{
    height: 9rem;
    margin: .5rem auto;
    border-radius: .2rem;
    background-color: #fff;
}
.view-vertical{
    width: 50%;
    height: 16.5rem;
    margin: .3rem auto;
    border-radius: .2rem;
    background-color: #fff;
}
/*public*/
.tac{
    text-align: center;
}
.mt3{
    margin-top: 2.7rem;
}
.mb4{
    margin-bottom: 4rem;
}
.nsb::-webkit-scrollbar{
    display:none;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.col9b9b9b{
    color: #9b9b9b;
}